# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
1.20.1
eclipse
minecraftoriginalasset
run
run-data
src/generated

# Files from Forge MDK
forge*changelog.txt
